.template-5 {
  height: 10000px;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
::-moz-selection {
  background: #ffc022;
  color: #ffffff;
}
::selection {
  background: #ffc022;
  color: #ffffff;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 4.096em;
}
h3 {
  font-size: 2.56em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.221em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  line-height: 1.5625em;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "proxima-nova", sans-serif;
  line-height: 1.5625em;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}
.focus {
  background: #242434;
  display: none;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
}
.focus--slide-in {
  display: block;
  -webkit-animation: focus--slide-in 800ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
          animation: focus--slide-in 800ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@-webkit-keyframes focus--slide-in {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes focus--slide-in {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.focus--slide-out {
  -webkit-animation: focus--slide-out 800ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
          animation: focus--slide-out 800ms cubic-bezier(0.7, 0, 0.3, 1) forwards;
}
@-webkit-keyframes focus--slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    display: none;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes focus--slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    display: none;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.focus__bg {
  background-size: cover;
}
.focus__bg-overlay {
  background: rgba(0, 0, 0, 0.2);
  padding: 100px 0;
}
.focus__bg-content {
  text-align: center;
  z-index: 200;
}
.focus__nav {
  cursor: pointer;
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 300;
}
.focus__nav-text,
.focus__nav-icon {
  color: white;
}
.focus__nav-text {
  margin-left: 12.5px;
}
.focus__name {
  font-weight: 700;
}
.focus__role,
.focus__name {
  color: white;
}
.focus__container {
  margin: 100px auto;
  max-width: 1000px;
  text-align: left;
  width: 70%;
}
.avatar {
  border-radius: 150px;
  border: 4px solid #6161a5;
  height: 125px;
  width: 125px;
  margin: 0 auto 12.5px auto;
  overflow: hidden;
}
.avatar__img {
  height: 100%;
  width: 100%;
}
.header {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  height: 100px;
  position: fixed;
  top: 0;
  right: 30px;
  left: 30px;
  z-index: 200;
}
.header__background {
  background: #242434;
  height: 100px;
  position: fixed;
  top: -100px;
  right: 0;
  left: 0;
}
.header__background--slide-in {
  top: 0;
}
.header__email,
.header__links {
  position: relative;
}
.header__email {
  color: rgba(255, 255, 255, 0.7) !important;
  line-height: 100px;
  float: right;
  z-index: 100;
}
.header__email--highlight {
  color: #ffc022;
}
.header__email--highlight:hover {
  color: 1100px;
}
.header__links {
  float: left;
}
.header__links a {
  position: relative;
  display: inline-block;
  margin: 35px 6.25px 0 6.25px;
  outline: none;
  color: #fff;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}
.header__links a:hover,
.header__links a:focus {
  outline: none;
}
.header__links a {
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  text-shadow: none;
  text-transform: uppercase;
}
.header__links a::before {
  transition-property: max-width;
  transition-duration: 250ms;
  transition-timing-function: ease;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  max-width: 0;
  border-bottom: 2px solid #ffc022;
  color: #ffc022;
  content: attr(data-hover);
}
.header__links a:hover::before,
.header__links a:focus::before {
  max-width: 100%;
}
.section {
  text-align: center;
}
.section:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.section__content {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 1000px;
  width: 95%;
}
.section--top {
  background: #6767ba;
}
.section--projects {
  background: #242434;
  padding: 100px 0;
}
.project {
  border-radius: 3px;
  box-sizing: border-box;
  background: #383854;
  border: 3px solid #383854;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 12.5px;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 300px;
}
.project:hover .project__bg {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.project:hover .project__border {
  opacity: 1;
}
.project:hover .project__head {
  transition: all 0 ease;
  opacity: 0;
}
.project__bg:before,
.project__border:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.project__bg {
  transition: all 350ms ease;
  background-size: cover;
}
.project__border {
  transition: all 350ms ease;
  opacity: 0;
  border-radius: 3px;
  border: 2px solid #ffffff;
  margin: auto;
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
}
.project__head {
  transition: all 150ms ease;
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  opacity: 1;
  vertical-align: middle;
}
.project__subhead {
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}
.top__title {
  color: white;
  font-weight: 700;
  margin-bottom: 6.25px;
  text-transform: uppercase;
}
.top__text {
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  max-width: 530px;
  margin: 0 auto;
}
@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 10px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
.markdown pre {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.03);
  padding: 25px;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: #ffffff;
  margin: 25px 0 15px 0;
}
.markdown pre,
.markdown ul,
.markdown ol {
  margin: 25px 0;
}
.markdown pre,
.markdown span,
.markdown p,
.markdown ul,
.markdown ol {
  color: rgba(255, 255, 255, 0.7);
}
.markdown p {
  margin-bottom: 15px;
}
.markdown ul li,
.markdown ol li {
  margin-bottom: 6.25px;
}
.markdown blockquote {
  border-left: 2px solid rgba(255, 255, 255, 0.7);
  padding-left: 12.5px;
  font-style: italic;
}
.markdown img {
  width: 100%;
  margin-bottom: 25px;
}
